@import url(reset.css);
html {
  font-size: 62.5%;
}
html,
body,
.wrap {
  width: 100%;
  height: 100%;
  background: none;
  overflow: hidden;
}
.logo .wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.logo .wrap header {
  width: 100%;
  height: 4rem;
  background: #45c8a6;
}
.logo .wrap header .he {
  width: 10px;
  height: 10px;
  background: none;
  display: inline-block;
  border: 2px solid white;
  border-top: none;
  position: absolute;
  left: 10px;
  top: 15.5px;
  border-right: none;
  transform: rotateZ(45deg);
}
.logo .wrap header h1 {
  -webkit-box-flex: 1;
  line-height: 48px;
  text-align: center;
  font-size: 1.6rem;
  color: white;
}
.logo .wrap section {
  -webkit-box-flex: 1;
  overflow-y: auto;
}
.logo .wrap section .he1 {
  width: 100%;
  height: 35px;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  border-bottom: 1px solid #ccc;
}
.logo .wrap section .he1 .he1_a {
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.logo .wrap section .he1 .he1_a li {
  -webkit-box-flex: 1;
  text-align: center;
  font-size: 1.4rem;
  color: #aeaeae;
  line-height: 35px;
  position: relative;
}
.logo .wrap section .he1 .he1_a li span {
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #36d3c0;
  position: absolute;
  left: 0;
  bottom: -1px;
  display: none;
}
.logo .wrap section .he1 .he1_a .head1_b {
  color: #36d3c0;
  display: block;
}
.logo .wrap section .he1 .he1_a .head1_b span {
  display: block;
}
.logo .wrap section .he1 .be2_pian {
  width: 50px;
  height: 100%;
  background: none;
  text-align: center;
  line-height: 35px;
}
.logo .wrap section .he1 .be2_pian img {
  width: 25px;
  height: auto;
  background: none;
}
.logo .wrap section .gis {
  width: 100%;
  height: auto;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  overflow: hidden;
}
.logo .wrap section .gis .tit_main {
  width: 100%;
  display: -webkit-box;
  padding: 15px;
  box-sizing: border-box;
}
.logo .wrap section .gis .tit_main .main1 {
  width: 100%;
  height: 330px;
  background: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 5px 8px #dbeae7;
}
.logo .wrap section .gis .tit_main .main1 .nav {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
}
.logo .wrap section .gis .tit_main .main1 .nav .nav1 {
  -webkit-box-flex: 1;
  margin-top: 15px;
  margin-left: 15px;
  box-sizing: border-box;
}
.logo .wrap section .gis .tit_main .main1 .nav .nav1 p {
  font-size: 2rem;
}
.logo .wrap section .gis .tit_main .main1 .nav .nav1 p img {
  margin-right: 10px;
  width: 49px;
  height: 48px;
  background: none;
}
.logo .wrap section .gis .tit_main .main1 .nav .nav1 p span img {
  margin-left: 10px;
  width: 29px;
  height: 28px;
  background: none;
}
.logo .wrap section .gis .tit_main .main1 .nav .nav1 .na {
  font-size: 0.2rem;
  margin-left: 54px;
  box-sizing: border-box;
}
.logo .wrap section .gis .tit_main .main1 .nav .nav3 {
  margin-top: 15px;
  margin-right: 20px;
  color: #36d3c0;
  box-sizing: border-box;
}
.logo .wrap section .gis .tit_main .main1 .nav .nav3 span {
  margin-left: 9px;
}
.logo .wrap section .gis .tit_main .main1 .nav .nav4 {
  margin-top: 5px;
  margin-left: 5rem;
  box-sizing: border-box;
}
.logo .wrap section .gis .tit_main .main1 .one {
  padding: 5px;
  box-sizing: border-box;
}
.logo .wrap section .gis .tit_main .main1 .one .one1 {
  width: 100%;
  height: auto;
  background: #ffffff;
  border-radius: 5px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.logo .wrap section .gis .tit_main .main1 .one .one1 table {
  width: 100%;
  height: auto;
  background: none;
  line-height: 3rem;
}
.logo .wrap section .gis .tit_main .main1 .one .one1 table tr {
  width: 100%;
  height: auto;
  background: none;
  text-align: center;
}
.logo .wrap section .gis .tit_main .main1 .one .one1 table tr td {
  width: 50%;
  text-align: center;
  border: none;
  border: 1px solid #f0f0f0;
  color: #323232;
  box-sizing: border-box;
  font-size: 16px;
}
.logo .wrap section .gis .one-3 {
  padding: 5px;
  box-sizing: border-box;
}
.logo .wrap section .gis .one-3 .one1-2 {
  width: 100%;
  height: auto;
  background: #ffffff;
  border-radius: 5px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.logo .wrap section .gis .one-3 .one1-2 .aa {
  width: 100%;
  height: auto;
  background: none;
  line-height: 4.6rem;
  font-size: 1.6rem;
}
.logo .wrap section .gis .one-3 .one1-2 .aa tr {
  width: 100%;
  height: auto;
  background: none;
  text-align: center;
}
.logo .wrap section .gis .one-3 .one1-2 .aa tr td {
  width: 50%;
  text-align: center;
  border: none;
  border: 1px solid #f0f0f0;
  box-sizing: border-box;
}
.logo .wrap section .gis .two {
  padding: 5px;
  box-sizing: border-box;
}
.logo .wrap section .gis .two .two-1 {
  width: 100%;
  height: auto;
  background: #ffffff;
  border-radius: 5px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.logo .wrap section .gis .two .two-1 .bb {
  width: 100%;
  height: auto;
  background: none;
  line-height: 6.6rem;
  font-size: 2.6rem;
}
.logo .wrap section .gis .two .two-1 .bb tr {
  width: 100%;
  height: auto;
  background: none;
  text-align: center;
}
.logo .wrap section .gis .two .two-1 .bb tr td {
  width: 50%;
  text-align: center;
  border: none;
  border: 1px solid #f0f0f0;
  box-sizing: border-box;
}
.logo .wrap section .m_last {
  width: 100%;
  height: 87px;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  margin-top: 21px;
}
.logo .wrap section .m_last dl {
  margin: 0 10px;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  text-align: center;
  margin-right: 15px;
  font-size: 16px;
  border-radius: 5px;
}
.logo .wrap section .m_last dl:nth-child(4) {
  margin-right: 0;
}
.logo .wrap section .m_last dl dt {
  padding: 10px 0;
}
.logo .wrap section .m_last dl dt img {
  width: auto;
  height: 33px;
  background: none;
}
.logo .wrap section .m_last .d_bg {
  background: #36D3C0;
  color: white;
}
.logo .wrap footer {
  width: 100%;
  height: 4.5rem;
  background: #45c8a6;
}
.logo .wrap footer ul {
  width: 100%;
  height: 100%;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.logo .wrap footer ul li {
  -webkit-box-flex: 1;
  text-align: center;
  line-height: 4.5rem;
  color: white;
}
.logo .wrap footer ul li img {
  width: 28px;
  height: auto;
  background: none;
  margin-right: 10px;
}
.logo .wrap footer ul li:nth-child(1) {
  border-right: 1px solid white;
}
.logo .wrap footer ul li:nth-child(1) img {
  width: 17px;
  height: auto;
  background: none;
}
